@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #060814;
}

body {
  font-feature-settings:
    "liga" 1,
    "kern" 1,
    "tnum" 1;
}
